---
name: "docker-publish: Build and Push Docker Image"

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Tag for the Docker image'
        required: true
        default: manual-workflow

permissions:
  contents: read
  packages: write # Needed for GHCR push

env:
  PING_DOCKER_REPO: art01.corp.pingidentity.com:5100
  DOCKERHUB_MIRROR: art01.corp.pingidentity.com:5400
  DOCKER_IMAGE_NAME: sre-docker/sreop-atlantis
  DOCKER_STABLE_TAG: '0.3'
  DOCKER_LATEST_TAG: latest

jobs:
  build:
    runs-on: arc-runner-set

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Derive tags/labels from the git tag (vX.Y.Z -> X.Y.X, X.Y, X)
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.PING_DOCKER_REPO }}/${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            ${{ github.event_name == 'workflow_dispatch' && format('type=raw,value={0}', github.event.inputs.image_tag) || '' }}
            type=semver,pattern={{version}},enable=${{ github.event_name != 'workflow_dispatch' }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ github.event_name != 'workflow_dispatch' }}
            type=semver,pattern={{major}},enable=${{ github.event_name != 'workflow_dispatch' }}
            type=raw,value=latest,enable={{is_default_branch}}
          labels: |
            org.opencontainers.image.version=${{ github.ref_name }}

      - name: Read versions from config.yaml
        id: versions
        run: |
          {
            echo "ATLANTIS_VERSION=$(grep -A1 '^atlantis:' config.yaml | \
              grep 'version:' | awk '{print $2}')"
            echo "TG_ATLANTIS_CONFIG_VER=$(grep -A1 '^tg_atlantis_config:' \
              config.yaml | grep 'version:' | awk '{print $2}')"
            echo "TF_VERSION=$(grep -A1 '^terraform:' config.yaml | \
              grep 'version:' | awk '{print $2}')"
            echo "TG_VERSION=$(grep -A1 '^terragrunt:' config.yaml | \
              grep 'version:' | awk '{print $2}')"
            echo "KUBECTL_VERSION=$(grep -A1 '^kubectl:' config.yaml | \
              grep 'version:' | awk '{print $2}')"
            echo "HELM_VERSION=$(grep -A1 '^helm:' config.yaml | \
              grep 'version:' | awk '{print $2}')"
          } >> "$GITHUB_OUTPUT"

      - name: Login to JFrog Artifactory
        uses: docker/login-action@v3
        with:
          registry: ${{ env.PING_DOCKER_REPO }}
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
#          platforms: linux/amd64,linux/arm64
          build-args: |
            DOCKERHUB_MIRROR=${{ env.DOCKERHUB_MIRROR }}
            ATLANTIS_VERSION=${{ steps.versions.outputs.ATLANTIS_VERSION }}
            TG_ATLANTIS_CONFIG_VER=${{ steps.versions.outputs.TG_ATLANTIS_CONFIG_VER }}
            TF_VERSION=${{ steps.versions.outputs.TF_VERSION }}
            TG_VERSION=${{ steps.versions.outputs.TG_VERSION }}
            KUBECTL_VERSION=${{ steps.versions.outputs.KUBECTL_VERSION }}
            HELM_VERSION=${{ steps.versions.outputs.HELM_VERSION }}
            PING_DOCKER_REPO=${{ env.PING_DOCKER_REPO }}
          no-cache: true
          pull: true
